@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
 
}

.swiper-button-next::after {
  display: none;
}


.swiper-button-prev::after {
  display: none;

}

.displaynone {
  color: white !important;

}

/* swipper js */
.swiper-container {
  width: 550px;
  margin: 0px 0px 0px 2px;


}

@media screen and (min-width: 768px) {


  .swiper-container {
    width: 768px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    background-color: white;
    border-radius: 2px;
    padding: 2px;

  }


  .swiper-button-next {
    background-image: url(/angle-small-right.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .swiper-button-prev {
    background-image: url(/angle-small-left.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

  }
}