.container {
    min-height: 100vh;
    padding: 20px;
}

.LoginModalMobile {
    padding: 20px;

    background-color: white;

}
.FirstLoaderBox{
    background-color:white;
    padding: 10px;
    border-radius:10px;
    min-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FeedtitleboxSticky {
    width: 100%;
    position: sticky;
    top: 9.4%;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid rgb(243, 237, 237); */
    z-index: 999;
 
}

.Feedtitlebox {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FeedtitleboxBIcon {
    cursor: pointer;
    margin: 5px;
    color: black;
}

.FeedtitleboxBIconActive {
    cursor: pointer;
    margin: 5px;
    color: rgb(76, 118, 255);
}

.FeedtitleboxB {
    display: flex;
    align-items: center;
}

.HeroLoginSkelton {
    display: flex;
    align-items: center;
}

.HeroLoginSkeltonItem {
    cursor: pointer;
    color: #3c4852;
    border: 1px solid #e2e4e6;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90px;
    margin: 3px;

}

.HeroLoginSkeltonItemImage {
    width: 40px;
    max-height: 40px;
}

.HeroLoginSkeltonItemImageBox {
    padding: 10px;
    height: 50px;
}

.NavLogoM {
    width: 120px;
}

.NavLogoM img {
    width: 100%;
}

.UserAccountBox {
    padding: 10px;
    width: 100%;
    margin: auto;
}

.UserAccountBoxAProfileBoxData {
    display: flex;
}

.CMTBOXFooter {
    background-color: white;

    width: 100%;
    position: sticky;
    bottom: 0;

    /* border-bottom: 1px solid rgb(243, 237, 237); */
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


}

.WritecmtBox {
    display: flex;
    align-items: center;
    padding: 10px;
}

.Inputcmt {
    min-width: 100%;
    padding: 10px;
    font-size: 14px;
}

.WritecmtBoxInput {

    min-width: 70%;
}

.WritecmtBtn {
    margin-left: 5px;
}

.PostComentsListItem {
    margin-top: 10px;
}

.PostComentsListItemUser {
    display: flex;

}

.PostComentsListItemUserA {
    max-width: 50px;

}

.PostComentsListItemUserBName span {
    font-weight: 500;
    font-size: 12px;
}

.CmtDateBox {
    margin-top: 5px;
    font-size: 8px;
}

.CmtBox {
    font-size: 12px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(247, 242, 242);
    padding: 10px;
}

.PostComentsListItemUserB {
    margin-left: 10px;
}

.PostComentsHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #0073e6;
    border-bottom: 1px solid black;
    color: white;
}

.PostComentsHeaderIcon {
    font-weight: 700;
}

.PostComentsHeaderText {
    margin-top: -5px;
    margin-left: 10px;
    font-weight: 500;
}

.PostComents {
    margin: auto;



}

.PostComentsContent {
    max-height: 60vh;
    overflow: auto;
    padding: 10px;
}

.PostComentsListBox {
    min-height: 60vh;

}

/* .PostComents::-webkit-scrollbar {
    display: none;
} */
.PostedBybox {
    padding: 10px
}


.Mobcontainer {
    padding: 5px;
}

.mobilemenu {
    padding: 10px;
}

.mobilemenuItem {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(240, 233, 233);
    color: black;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.iconmobmenmuText {
    margin-left: 10px;
}

.copyrightTextMobile {
    padding-top: 10px;
}

.copyrightTextMobile span {
    font-size: 8px;
}

.FirstLoader {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.InboxBoxLoader {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(240, 233, 233);
    color: black;
    margin-top: 10px;
}

.sendToUser {
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.sendToUserMainBox {
    display: flex;
    align-items: center;
}

.sendToUserMainBoxB {
    margin-left: 10px;
}

.sendToUserInput {
    padding: 10px;
    outline: none;
}

.sendToUserTitle {
    font-weight: bold;
}

.EnqTextBox {
    width: 100%;

}

.EnqTextBoxFooterA {
    display: flex;
    align-items: center;
}

.EnqTextBoxFooterA small {
    font-size: 10px;
}

.SelecttedBox {
    display: flex;
    align-items: center;
    background-color: rgb(233, 236, 225);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.SelecttedBoxB {
    margin-left: 10px;
}

.EditIcon {
    font-size: 12px;
    color: rgb(216, 74, 74);
    cursor: pointer;
    margin-left: 5px;
}

.EditIcon:hover {
    color: rgb(0, 0, 0);
}

.MsgBox {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: auto;
    width: 70%;



}

.MsgBoxSendBox {
    padding: 10px;
}

.MsgBoxList {
    padding: 20px;
    max-height: 60vh;
    overflow: auto;

}

.SendFormInputBtn {
    margin-left: 10px;
}

.SendFormBoxDp {
    max-width: 50px;

}

.SendFormBox {

    display: flex;
    align-items: center;
}

.SendForm {
    display: flex;
    align-items: center;
}

.SendFormBoxB {
    width: 100%;
    margin-left: 10px;
}

.SendFormInput {
    width: 100%;
}

.MsgListBoxItem {
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin: 5px;
    margin: auto;
}

.MsgListBoxItemA {
    width: 100%;

    margin: 10px;
    display: flex;
    justify-content: flex-end;

}

.MsgListBoxItemB {
    width: 100%;

    margin: 10px;
    display: flex;
    justify-content: flex-start;

}

.MsgListBoxItemBItem {
    width: fit-content;
    background-color: #ecf4d9;
    padding: 5px;
    border-radius: 5px;

}

.MsgListBoxItemAItem {
    width: fit-content;
    background-color: #ebedf0;
    padding: 5px;
    border-radius: 5px;

}

.MsgBoxHeaderA {
    cursor: pointer;
}

.MsgBoxHeader {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgb(235, 227, 227);
}

.MsgBoxHeaderB {
    cursor: pointer;
    margin-left: 10px;
}

.InboxBoxContainer {
    margin: auto;
    width: 70%;
    padding: 20px;
}

.MyshareFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.MsgTypeText {
    background-color: rgb(74, 138, 255);
    text-align: center;
    width: fit-content;
    color: white;

}

.MsgTypeText small {
    font-size: 8px;

}

.InboxBoxItem {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(240, 233, 233);
    color: black;
    margin-top: 10px;



}

.InboxBoxItem:hover {
    border: 1px solid #0073e6;
}

.InboxBoxItemB {
    margin-top: -5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.InboxBoxItemAName {
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.InboxBoxItemAName span {
    font-weight: 500;
    font-size: 13px;
}

.InboxBoxItemAName small {
    font-size: 12px;
}

.VendorProfileFeed {
    margin: auto;
    width: 65%;
}

.LoginModal {
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    min-width: 500px;


}

.ShareModal {
    border-radius: 30px;
    background-color: white;
    min-width: 500px;
    padding: 10px;

}

.Editbtn {
    margin: 10px;
    font: 12px;
    color: red;
    cursor: pointer;
}

.FeedBootom {
    display: flex;
    align-items: center;
    border-top: 1px dashed rgb(237, 234, 234);
    padding: 5px;
}

.iconbtn {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: fit-content;

    cursor: pointer;
    padding: 5px 10px 0px 10px;

    color: black;

}

.iconbtn span {
    font-size: 15px;
}

.iconbtn small {
    margin-left: 6px;
    margin-top: -5px;
    font-size: 15px;
}

.iconbtn:hover {
    background-color: #0095f6;
    color: white;
}

.AboutUsBox {

    margin: auto;
    width: 80%;
    padding: 30px;
    border-radius: 10px;

}

.AboutUsBoxItemContewnt h2 {
    font-size: 18px;
}

.AboutUsBoxItemContewnt p {
    font-size: 13px;
    margin-top: 10px;
}

.AboutUsBoxItemContewnt li {
    font-size: 13px;
    margin-top: 10px;
}

.FounderBoxContentabtgi {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.FounderBoxContentabtgi span {
    font-weight: 700;
}

.FounderBoxIMg {
    width: 100%;
}

.FounderBox {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    border-radius: 10px;
    display: flex;
    margin: 30px 0px 30px 0px;
    padding: 5px;
}

.FounderBoxContentabt {
    padding: 35px;

}

.NavbarBox {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    /* border-bottom: 1px solid rgb(243, 237, 237); */
    z-index: 999;
    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%); */
    border-bottom: 1px solid rgb(231, 219, 219);

}

.NavbarItem {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 5px 10px 5px 20px;
    margin: auto;
    width: 100%;

}

.NavLogo {
    width: 100px;
}

.NavLogo img {
    width: 100%;
}

.NavMenuBox {
    display: flex !important;
    align-items: center !important;
}

.NavbarItemB {
    display: flex !important;
    align-items: center !important;
}

.LoginBtn {
    text-decoration: none;
    padding: 5px;
    background-color: #0073e6;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    display: flex !important;
    align-items: center !important;
    color: white !important;
    margin-left: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    font-weight: 500;
    cursor: pointer;
}

.LoginBtn span {
    margin-left: 5px;
}

.NavBTNBox {
    display: flex;
    align-items: center;
}

.NavSearchBox {
    min-width: 300px;
    min-height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(232, 226, 226) !important;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.NavSearchBox span {
    margin-left: 10px;
}

.NavbarItemA {
    display: flex;
    align-items: center;
}

.IconTitle {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);

}

.IconTitle span {
    margin-left: 10px;
}


.MenuCatlistItemLoader {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    min-width: 100%;
    margin-top: 10px;
}

.MenuCatlistItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    min-width: 100%;
    margin-top: 10px;
    color: black;

}

.MenuCatlistItem span {
    font-size: 14px;

    margin-left: 10px;
}


.PostCap {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}

.FeedItem {
    border-radius: 10px;
    border: 1px solid rgb(244, 238, 238);
    margin: 20px;
    padding: 10px;

    overflow: hidden;

}

.DpCercle {
    border-radius: 50%;

}

.FeedIProfile {
    display: flex;
    align-items: center;
}

.FeedIProfileText {
    margin-left: 10px;
    color: black;
}

.FeedIProfileText span {
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

.FeedIProfileText small {
    font-size: 10px;
    cursor: pointer;
    background-color: #0073e6;
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
    color: white;
}

.FeedImage {
    width: 100%;
}

.FeedHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Dotbtn {
    cursor: pointer;
}

.HomePageContainer {
    display: flex;
}

.HomePageContainerFeedBox {
    margin-left: 200px;
    min-width: 40%;
}


.RightSidebar {
    position: sticky;
    top: 10%;
    align-self: flex-start;
    margin-left: 20px;
    padding: 0px 10px 10px 10px;
    max-height: 100vh;
    overflow: auto;


}

.RightSidebar::-webkit-scrollbar {
    display: none;
}

.VendorCard {
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    background-color: #e9f2ff;
    overflow: hidden;
}


.MenuCatlistItem:hover:not(.active) {
    background-color: #0073e6;
    color: white;
    border-radius: 10px;
}

.RightSidebarTwoBox {
    display: flex;

}

.PostDetailsBox {
    display: flex;
    margin: auto;


}

.PostImgContent {
    margin: auto;
    padding: 0;
    width: 100%;
}

.PostDetailsBoxLeft {

    min-width: 68%;
    margin: 5px;
}

.PostDetailsBoxLeftImg {
    background-color: rgb(238, 229, 229);
    width: 100%;
    overflow: hidden;

}

.PostDetailsBoxLimgBox {
    margin: auto;
    width: 50%;
}

.PostDetailsBoxRight {
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    background-color: #ffffff;
    margin: 20px;
    max-height: 80vh;
    overflow: hidden;
    min-width: 27%;
}


.PostLoader {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.PostBox {
    min-width: 100%;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    background-color: #ffffff;
    overflow: hidden;
    padding: 20px;
}

.UserNameText {
    margin: 10px;
}

.PostBoxText {
    min-width: 300px;
    min-height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(232, 226, 226) !important;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(243, 240, 255);
    cursor: pointer;
    overflow: hidden;
}


.PostBoxTextPlaceholder {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: #99a0aa;
    /* background-color: red; */
    min-width: 100%;

}

.TypingTest {
    min-height: 30px;

}

.TextFieldCss {

    min-width: 100%;

}

.TextFieldCss {
    padding: 5px;
    outline: 0;
    border-radius: 10px;
    border: none;
    outline-width: 0;
    font-size: 30px;

}

.EnqTextBoxHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}

.EnqTextBoxHeaderText {
    font-size: 20px;
}

.deviderEnqpost {
    background-color: rgb(232, 226, 226);
    min-height: 2px;
}

.EnqTextBoxFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.Linklist a:hover:not(.active) {
    background-color: #0073e6;
    color: white;
    border-radius: 10px;
}

.VendorProfileBoxMain {
    padding: 10px;
    width: 70%;
    margin: auto;
}

.VendorProfileBoxData {
    display: flex;

}

.VendorProfileBoxDataContent {
    margin-left: 20px;
}

.DpCercleVendor {
    border-radius: 50%;

}

.VendorNameBox {
    display: flex;
    align-items: center;
}

.VendorName {
    display: flex;
    flex-direction: column;
}

.VendorName span {
    font-size: 20px;
    font-weight: 500;

}

.VendorName small {
    font-size: 12px;
    margin-top: -5px;
}

.VendorShortbio span {
    font-size: 12px;
}

.VendorIconMenu {
    display: flex;

    flex-direction: column;
}

.VendorIconMenuItem {
    display: flex;


}

.VendorIconMenuItemIcon {
    font-size: 15px;

}

.VendorIconMenuItemText {
    margin-top: -2px;
    font-size: 12px;
    margin-left: 5px;

}

.VendorCounterBox {
    display: flex;
    align-items: center;
}

.VendorCounterBoxItem {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #efecff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.VendorCounterBoxItem span {
    font-size: 15px;
    font-weight: 700;
}

.VendorCounterBoxItem small {
    font-size: 12px;

}

.FollowBtn {
    background-color: #0095f6;
    color: white;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.VendorButtonBox {
    display: flex;
    align-items: center;
}

.CatlistSlider {
    width: 200px;
}

/* vendor List by cat */
.ProfileList {
    width: 80%;
    margin: auto;
    min-height: 100vh;
}


.VendorListItem {
    cursor: pointer;
    color: #3c4852;
    border: 1px solid #e2e4e6;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin-top: 10px;
    padding: 10px;
}

.VendorListItemA {
    width: 25%;
}

.VendorListSp {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

.VendorListItemB {
    margin-left: 20px;
}

.VendorName span {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.FeedItemLoader {
    margin: auto;
    width: 70%;
}

.ViewProfileBtn {
    background-color: #0073e6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    max-width: 150px;
}

.ViewProfileBtn span {
    color: white;
    font-size: 12px;
}

/* vendor grid by cat */

.CatGrid {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));


}

.CatGridMarquee {
    display: flex;
    align-items: center;


}

.CatGridMarqueeItem {
    cursor: pointer;
    color: #3c4852;
    border: 1px solid #e2e4e6;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90px;
    min-width: 200px;
    margin: 10px;
}

.LoginModalMobileMtext {
    font-size: 10px;
    text-align: center;
}

.LoginModalMobileMtextTitle {
    font-weight: 500;
    color: #0095f6;
    text-align: center;
    padding: 10px;
    border-bottom: 1px dashed;
    border-color: linear-gradient(to right, #ff9900, #ff00cc);
}

.gradienttextMM {
    background: linear-gradient(to right, #ff9900, #ff00cc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.LoginModalMobileDiv {
    margin: auto;
    width: 50%;
    min-height: 2px;
    background-color: #0095f6;
    margin-top: 1.5px;
}

.CatGridItem {
    cursor: pointer;
    color: #3c4852;
    border: 1px solid #e2e4e6;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90px;

}

.CatGridItemImage {
    width: 40px;
    max-height: 40px;
}

.CatGridItemImageBox {
    padding: 10px;
    height: 50px;
}

.CatGridData {
    margin-top: 5px;
    padding: 5px;
    font-size: 12px;
    text-align: right;
}

.GetVendorbyCat {
    margin: auto;
    width: 35%;
}

.main {
    width: 80%;
    margin: auto;
    padding: 10px;
}

.videobox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
}

.videoboxPlayer {
    width: 100%;

}

.contactBox {
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    padding: 10px;

}

.contactBoxitem {
    display: flex;
    align-items: center;
}

.contactBoxitem span {
    font-size: 15px;
}

.contactBoxitem small {
    margin: 10px;
    font-size: 15px;
}

.UserMenuBoxItem {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px 5px 10px 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    cursor: pointer;


}

.LogoutBox {
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;


}

.LogoutBox:hover {
    background-color: rgb(255, 30, 30);
    color: white;
}

.UserMenuBoxItem:hover {
    background-color: rgb(237, 229, 229);
    color: white;
}

.LogoutBox span {
    margin-left: 10px;
    font-size: 12px;
}


.UserMenuBoxItemText {
    margin-left: 10px;
    font-weight: 500;
    margin-top: -5px;

}

/* Mobile Css */
.Mobile_NavbarTitle {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    /* border-bottom: 1px solid rgb(243, 237, 237); */
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


}

.Mobile_NavbarBoxTitleA {
    display: flex;
    align-items: center;
}

.Mobile_NavbarText {
    margin-top: -3px;
    font-weight: 500;
}

.Mobile_NavbarBoxTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    min-height: 50px;
}

.Mobile_Navbar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    /* border-bottom: 1px solid rgb(243, 237, 237); */
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

}

.Mobile_NavbarBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.Mobile_NavbarA {
    display: flex;
    align-items: center;
}

.Mobile_NavbarB {
    display: flex;
    align-items: center;
}

.Mobile_NavbarALogo {
    margin-left: 5px;
    width: 80px;

}

.Mobile_NavbarALogo img {
    width: 100%;
}

.MobileContainer {
    padding: 0px;
}


.Mobile_NavbarBUser {
    margin-left: 5px;
}

.CategoryListHomeMobile {
    display: flex;
    align-items: center;
    overflow: auto;
}

.CategoryListHomeMobile::-webkit-scrollbar {
    display: none;
}

.CategoryListHomeMobileItem {
    min-width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 5px;
    color: black;

}

.CatIMGMobile {
    width: 30px;
    height: 30px;

}

.TextCat {
    width: 100%;
    max-height: 20px;
    overflow: hidden;
    text-align: center;
}

.TextCat span {
    font-size: 10px;


}

.Menubtn {

    color: rgb(25, 24, 24);

}

.mobileFooter {
    background-color: white;
    padding: 5px;
    width: 100%;
    position: sticky;
    bottom: 0;

    /* border-bottom: 1px solid rgb(243, 237, 237); */
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


}

.mobileFooterMenuBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileFooterMenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 2px;
}

.mobileFooterMenuItemIcon span {
    font-size: 20px;
}

.mobileFooterMenuItemText {
    margin-top: -10px;
}

.mobileFooterMenuItemText span {
    font-size: 10px;
}

@media only screen and (max-width: 900px) {

    .EnqTextBox {
        width: 100%;
        overflow: hidden;
    }

    .EnqTextBoxFooter {
        display: flex;
        flex-direction: column;


        padding: 20px;
        width: 100%;
        overflow: hidden;
    }

    .EnqTextBoxFooterA {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    .SelecttedBox {
        width: 100%;
        overflow: hidden;
    }

    .EnqTextBoxFooterB {
        width: 100%;
        margin-top: 20px;
    }

    .ProfileList {
        width: 98%;
        margin: auto;
        min-height: 100vh;
    }

    .ShareModal {
        min-width: 100%;
        border-radius: 30px;
        background-color: white;
        padding: 0;
    }

    .PostDetailsBox {
        flex-wrap: wrap;


    }

    .PostDetailsBoxRight {
        width: 100%;
    }

    .PostDetailsBoxLeft {
        width: 100%;
    }


    .PostComentsListBox {
        height: 100%;

    }

    .WritecmtBoxNEW {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .InputcmtNEW {
        min-width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .PostDetailsBoxRightM {
        width: 100%;
        padding: 10px;
    }

    .WritecmtBoxInputNEW {

        min-width: 70%;
    }

    .PostComentsContentNew {

        padding: 10px;
    }

    .PostComentsListBoxNew {
        min-height: 100vh;
    }

    .VendorProfileBoxMain {
        padding: 10px;
        width: 100%;
        margin: auto;
    }

    .VendorPDatamob {
        display: flex;

    }

    .VendorProfileBoxDataMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(255, 255, 255);
        overflow: hidden;

    }

    .VendorName {
        margin-left: 10px;
    }

    .VendorProfileFeed {

        width: 100%;
        padding: 0px;
    }

    .VendorMobileLoader {
        margin: 10px;
    }

    .PostDetailsBoxLimgBox {
        margin: auto;
        width: 100%;
    }

    .PostDetailsBoxLimgBox {
        min-height: 300px;
    }

    .MsgBox {
        padding: 10px;
        box-shadow: none;
        margin: auto;
        width: 100%;



    }



    .Mobile_NavbarBItems {
        display: flex;
        align-items: center;
    }

    .VendorListSp {
        border-radius: 10px;
        overflow: hidden;
        min-width: 100px;
        object-fit: cover;
    }

    .MsgBoxMobile {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
        margin: auto;
        width: 100%;



    }

    .MsgBoxSendBoxMobile {
        padding: 10px;
    }

    .MsgBoxListMobile {
        padding: 20px;
        min-height: 90vh;
        overflow: auto;


    }

    .videobox {
        width: 100%;
    }

    .FeedItem {

        margin: 5px;
        margin-top: 10px;
        padding: 10px;



    }

        .FeedtitleboxSticky {
            top: 6%;
           
        }
}